<h1>Employee Info</h1>
<% employees.each do |employee| %>
  <h2><%= employee.first_name %> <%= employee.last_name %> </h2>
  <p><%= @employee["birthdate"] %></p>
  <p><%= @employee["email"] %></p>
<% end %>